/* Estilos globales */
body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  margin: 0;
}

/* Estilos de la calculadora */
.calculator {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

/* Estilos del input */
input {
  margin-bottom: 15px;
  padding: 15px;
  width: calc(100% - 30px);
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  background-color: #e7e7e7;
  transition: background-color 0.3s;
}

input:focus {
  background-color: #ffffff;
  outline: none;
}

/* Contenedor de botones */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

button {
  margin: 5px;
  padding: 15px;
  cursor: pointer;
  background-color: #6200ea;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
  transition: background-color 0.3s, transform 0.2s;
  flex: 1 1 100px;
}

button:hover {
  background-color: #3700b3;
  transform: translateY(-3px);
}

/* Estilo para el texto de resultados */
#info {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}

/* Estilo para el popup */
.popup {
  display: none; /* Oculto por defecto */
  position: fixed; /* Mantener el popup en una posición fija */
  z-index: 1; /* Asegurarse de que esté en la parte superior */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Activar scroll si es necesario */
  background-color: rgb(0,0,0); /* Fondo negro */
  background-color: rgba(0,0,0,0.4); /* Fondo negro con opacidad */
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centramos el popup */
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Ancho del popup */
  text-align: center; /* Centrar el texto */
}

.close {
  color: #aaa;
  float: right; /* Alinear a la derecha */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black; /* Cambiar color al pasar el ratón */
  text-decoration: none;
  cursor: pointer;
}
