/* Estilos globales */
body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  margin: 0;
}

/* Estilos de la calculadora */
.calculator {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

/* Estilos del input */
input {
  margin-bottom: 15px;
  padding: 15px;
  width: calc(100% - 30px);
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  background-color: #e7e7e7;
  transition: background-color 0.3s;
  text-align: right; /* Alinea el texto a la derecha */
}

input:focus {
  background-color: #ffffff;
  outline: none;
}
/* Contenedor de botones */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

button {
  margin: 5px;
  padding: 15px;
  cursor: pointer;
  background-color: #6200ea;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
  transition: background-color 0.3s, transform 0.2s;
  flex: 1 1 100px;
}

button:hover {
  background-color: #3700b3;
  transform: translateY(-3px);
}

/* Estilo para el texto de resultados */
#info {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}


.theme-toggle-container {
  position: absolute; /* Permite moverlo libremente */
  top: 20px; /* Ajusta la posición vertical */
  right: 20px; /* Ajusta la posición horizontal */
  z-index: 10; /* Asegura que esté por encima de otros elementos */
}

#toggleTheme {
  background-color: #6200ea; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 50%; /* Hace que el botón sea redondo */
  width: 40px; /* Ancho del botón */
  height: 40px; /* Altura del botón */
  font-size: 1.5em; /* Tamaño del icono */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s; /* Animación de cambio de color */
}

#toggleTheme:hover {
  background-color: #3700b3; /* Color de fondo al pasar el cursor */
}

body.dark-theme {
  background-color: #333;
  color: #fff;
}

.calculator.dark-theme {
  background-color: #444;
}

.button-pressed {
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: none; /* Oculta el loader por defecto */
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
